<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="share"></ion-icon>
      </button>
      <button ion-button (click)="presentPopoverRadarMap($event)" icon-only>
        <ion-icon name="umbrella"></ion-icon>
      </button>

      <button ion-button (click)="presentPopover($event)" icon-only>
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card *ngIf="boxData">

    <img src={{weatherConditionStringImagePath}}/>

    <div class="card-title">{{boxData.name}}
      <br>
      <p class="lastMeasurement">{{boxData.date}}
        <br>
        {{boxData.time}}
      </p>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>



    <div *ngIf="boxData; else elseBlock">

      <div *ngIf="tempSensor" class="item item-block item-md" ion-item="">
        <ion-label class="label label-md" *ngIf="weather">
          <h2 *ngIf="tempSensor"><a style="color:#45beed" (click)="showOWMAlert()">Temperature</a></h2>
          <p *ngIf="tempSensor">{{weather.main.temp}} &nbsp; °C</p>
        </ion-label>
        <div *ngIf="tempSensor" class="button-effect"></div>
      </div>

      <div class="item item-block item-md" ion-item="">
        <ion-label class="label label-md" *ngIf="weather">
          <h2><a style="color:#45beed" (click)="showOWMAlert()">Wind speed</a></h2>
          <p>{{weather.wind.speed}} &nbsp; meter/sec</p>
        </ion-label>
        <div class="button-effect"></div>
      </div>

      <ion-list>
        <div ion-item *ngFor="let sensor of boxData.sensors">
          <h2>{{sensor.title}}</h2>
          <p *ngIf="sensor.lastMeasurement!=undefined">{{sensor.lastMeasurement.value}} &nbsp; {{sensor.unit}}</p>
        </div>
      </ion-list>

      <div class="item item-block item-md" ion-item="">
        <ion-label class="label label-md" *ngIf="weather">
          <h2><a style="color:#45beed" (click)="showOWMAlert()">Sunrise &nbsp; & &nbsp; Sunset</a></h2>
          <p>{{sunrise}} &nbsp; & &nbsp; {{sunset}}</p>
        </ion-label>
        <div class="button-effect"></div>
      </div>
    </div>

  </ion-card>
</ion-content>

